.logo__slider {
   padding-bottom: 140px;
   &-title {
      padding-top: 140px;
      padding-bottom: 86px;
      font-weight: bold;
      font-size: 24px;
      letter-spacing: 0.15em;
      color: #0a264e;
      padding-left: 330px;
   }
   &-inner {
      max-width: 1300px;
      margin: 0 auto;
   }
   &-wrap {
      margin-top: 10px;
      margin-bottom: 10px;
      box-shadow: 0px 4px 13px rgba(11, 78, 165, 0.2);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 184px;
      height: 144px;
      background: #ffffff;
   }
   &-img {
      img {
      }
   }
   .slick-active:not:first-child {
      margin-left: 16px;
   }
   .slick-arrow {
      top: 25%;
   }
}
